@model Biblioteca.Entidades.Paginas

<div class="container margin-top-50 blog">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <img src="~/Images/blog/tutores.jpg" class="img-responsive center-block" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 titulo">
            Pós-Graduação e Especialidades Médicas
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12 data">
            DATA: <span>02/06/2017</span>
        </div>
        <div class="col-md-5 col-xs-12 autor">
            AUTOR: <span>Leonardo Mariano Reis (Presidente do CRM-GO)</span>
        </div>
        <div class="col-md-5 col-xs-12 autor">
            FONTE: <span>CREMEGO em Revista – Edição n. 44 (Março/2017)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 texto text-justify">
            <P>Em uma volta rápida por Goiânia e outras cidades ou em qualquer acesso à internet, logo nos deparamos com uma grande oferta de cursos de pós-graduação na área da saúde e, especificamente, na área médica. Essa oferta tem aumentado dia a dia. Ministrados por diversas instituições, os cursos propõem a formação médica em áreas, como cardiologia, pediatria, clínica médica e tantas outras.</P>
            <P>E é neste ponto que chamamos a atenção da classe médica. Ninguém nega a importância da qualificação, da atualização e da educação continuada dos médicos. Longe disso. Na área da saúde, talvez mais do que em muitas outras, a educação continuada se faz extremamente necessária. E a pós-graduação, quando bem ministrada, contribui muito para essa atualização.</P>
            <P>Mas, o que é preciso deixar claro a todos os médicos e também à população que busca os serviços destes profissionais é que a conclusão de curso de pós-graduação não confere ao aluno o título de especialista na área. Ou seja: o certificado emitido por um curso de pós-graduação lato sensu não dá ao médico o direito de registrar-se em um Conselho Regional de Medicina (CRM) como especialista nem em área de atuação de uma especialidade.</P>
            <P>Assim, o médico que conclui esses cursos não poderá divulgar que é especialista ou que está habilitado em uma determinada área de atuação. A divulgação da conclusão das pós-graduações também não deve nem pode ser feita de forma que induza o paciente a acreditar que o médico tem especialidade na área.</P>
            <P>Em medicina, a conquista do título de especialista passa pelo cumprimento de requisitos, como a conclusão de residência médica credenciada e a aprovação em provas de título. Para efetuar o registro de especialista em um CRM, o médico deve apresentar título reconhecido pela Comissão Mista de Especialidades (CME), formada pelo Conselho Federal de Medicina (CFM), a Associação Médica Brasileira (AMB) e a Comissão Nacional de Residência Médica (CNRM).</P>
            <P>Mesmo quando reconhecidos pelo Ministério da Educação (MEC), os cursos de pós-graduação lato sensu são exclusivamente de qualificação acadêmica e não profissional. Indevidamente, algumas empresas que oferecem esses cursos associam a pós-graduação à qualificação do profissional como especialista, o que representa uma propaganda enganosa à qual os médicos precisam estar atentos.</P>
            <P>A simples conclusão do curso lato sensu também não confere ao médico o direito de anunciar em cartões de visita, fachadas de consultórios ou qualquer outro meio de divulgação uma especialidade reconhecida ou não pelo CFM. De acordo com a Resolução CFM 1.974/2011, o médico só pode anunciar a especialidade na qual é registrado no CRM.</P>
            <P>A população também precisa estar atenta ao buscar um especialista e verificar se a especialidade anunciada figura no rol definido pela Resolução CFM Nº 2.149/2016, que homologa a relação das 54 especialidades e 57 áreas de atuação médicas reconhecidas pela Comissão Mista de Especialidades.</P>
            <P>Medicina Estética, Medicina Ortomolecular e outras que possam ser apresentadas como novidades e diferenciais do profissional não fazem parte desta lista. Uma forma de a população saber se a especialidade é reconhecida e se o médico é habilitado é verificar se o profissional tem o registro no CRM, o que pode ser consultado no site dos Conselhos.</P>
            <P>Entendemos ser necessário aumentar o número de vagas nas residências médicas em todo o País a fim de ampliar o acesso dos médicos a esses cursos e a formação de especialistas. O Cremego, o CFM e demais CRMs têm trabalhado neste sentido e temos também fiscalizado o cumprimento das resoluções que tratam do registro e da divulgação de especialidades e que visam, principalmente, a proteção da população e a garantia do bom e ético exercício da medicina.</P>
        </div>
    </div>
</div>

<div class="container margin-top-50 blog">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <img src="~/Images/blog/medicos.jpg" class="img-responsive center-block" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 titulo">
            Como se tornar um médico especialista, conforme regras do Conselho Federal de Medicina (CFM)?
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12 data">
            DATA: <span>29/05/2017</span>
        </div>
        <div class="col-md-5 col-xs-12 autor">
            AUTOR: <span>CENBRAP</span>
        </div>
        <div class="col-md-5 col-xs-12 autor">
            &nbsp;
        </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 texto text-justify">
            Para se tornar um médico especialista reconhecido pelo CFM o médico deve, ou possuir o respectivo título de especialista, ou o respectivo certificado de conclusão de residência médica, nos termos do art. 4 da Resolução CFM n. 1.634/2002.
            <br /><br />
            Já para se inscrever na prova de título de especialista, o médico deve se inteirar dos requisitos exigidos pela associação/sociedade médica que representa a especialidade a qual se interessa. Cada especialidade tem a sua associação/sociedade representativa, exemplo:<br />
            - Psiquiatria: Associação Brasileira de Psiquiatria (ABP);<br />
            - Endocrinologia e Metabologia: Sociedade Brasileira de Endocrinologia e Metabologia (SBEM);<br />
            - Medicina do Trabalho: Associação Nacional de Medicina do Trabalho (ANAMT);<br />
            - etc.
            <br /><br />
            Importante lembrar que qualquer médico pode exercer a medicina em todas as suas especialidades. Não há necessidade do médico ser especialista para o exercício de qualquer ramo da medicina. Isso é o que nos ensina a Lei Federal n.  3.268/1957, art . 17 e diversos pareceres do próprio CFM.
            <br /><br />
            Resumindo, o exercício de qualquer especialidade é permitido a qualquer médico. No entanto, só deve se anunciar como especialista em determinada área aquele que tiver, ou o título de especialista, ou o certificado de residência médica registrado em seu respectivo CRM.

        </div>
    </div>
</div>