
@{
    ViewBag.Title = "Comunicado Urgente";
}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h1>Comunicado Urgente</h1>
        <p>Em virtude da greve dos caminhoneiros e suas repercussões, comunicamos o adiamento de todas as aulas que estavam agendadas para <strong>26 e 27/05/2018</strong>.</p>
        <p>A decisão se justifica no fato de a maior parte dos alunos do Cenbrap residirem fora dos municípios de ocorrência das aulas. Com a greve dos caminhoneiros, várias estradas estão obstruídas e várias companhias aéreas já anunciaram o cancelamento de voos.</p>
        <p>A greve também atingiu a logística dos nossos professores, já que, especialmente neste próximo final de semana, todos dependiam de transporte aéreo para chegarem aos locais das aulas e retornarem às suas cidades de origem.</p>
        <p>&nbsp;</p>
        <h3><strong>E agora? Quando será feita a reposição desta aula?</strong></h3>
        <p>O curso prossegue normalmente. A próxima aula ocorre em junho, conforme agenda pré-estabelecida no início do curso.</p>
        <p>Em breve, anunciaremos uma nova data para ocorrência da aula ora adiada e lhe comunicaremos.</p>
        <p>&nbsp;</p>
        <h3><strong>Ainda estou dúvida, como faço?</strong></h3>
        <p>Nesse fim de semana, estamos de plantão pelos nossos canais do whatsapp: <a href="https://api.whatsapp.com/send?phone=5511944786755" target="_blank">(11) 9 4478-6755</a> ou <a href="https://api.whatsapp.com/send?phone=5562981644645" target="_blank">(62) 9 8164-4645.</a></p>
        <p>Caso prefira, em horário comercial, ligue para 0300-313-1538 ou use o e-mail: contato@cenbrap.com.br.</p>
        <p>Mesmo sendo alheia à vontade do Cenbrap, lamentamos a ocorrência dos transtornos causados e contamos com a compreensão de todos.</p>
        <p>&nbsp;</p>
        <p>Atenciosamente,</p>
        <p>Coordenação Pedagógica.</p>
        <p>CENBRAP - Centro Brasileiro de Pós-Graduações</p>
    </div>
</div>