<div class="container margin-top-50">
    <div class="row">

        <h3>RECESSO ACADÊMICO DO CENBRAP</h3><br />

        Devido ao nosso recesso acadêmico, informamos que não haverá atendimento ao público no período de 26/12/2017 a 05/01/2018.<br /><br />

        O atendimento será normalizado no dia 08/01/2018 (segunda-feira), às 8h (horário de Brasília).<br /><br />

        Em caso de urgência, gentileza entrar em contato pelo e-mail: <a href="mailto:urgencia@cenbrap.com.br">urgencia@cenbrap.com.br</a><br /><br />

        Boas festas e um feliz ano novo!<br /><br />

        Atenciosamente,<br /><br />

        Coordenação Pedagógica.<br /><br />
    </div>
</div>

