<div class="container margin-top-50">
    <div class="row">
        <h1>Regulamento Cupom de desconto #PPP2019</h1>
    </div>
</div>

<div class="container margin-top-50">
    <div class="row">
        <strong>1. Das condições de participação no Programa Primeira Pós 2019:</strong>
        <br />1.1.O cupom de desconto #PPP2019, que dá acesso ao Programa Primeira Pós 2019, aplica-se aos inscritos, graduados em Medicina em curso devidamente reconhecido pelo MEC, cuja data de colação de grau seja de até noventa dias anteriores à efetivação da matrícula no site www.cenbrap.com.br.
        <br />1.2.Graduados em Medicina no exterior que apresentarem a devida convalidação do diploma, datada de até noventa dias anteriores à efetivação da matrícula, também farão jus ao benefício do cupom #PPP2019.
        <br /><strong>2. Do benefício:</strong>
        <br />2.1 O cupom #PPP2019 dará direito exclusivamente aos matriculados que se enquadrarem no item 1.1 ou 1.2 de desconto de 20 % sobre o valor total do curso, incluindo a taxa de matrícula vigente.
        <br />2.2 O cupom é válido para matrícula em apenas um curso de pós-graduação da Faculdade CENBRAP.
        <br /><strong>3. Da efetivação da matrícula:</strong>
        <br />3.1 Entende-se por efetivação da matrícula, o inscrito que preencher corretamente todos os campos solicitados nas páginas do site, concordar com o Termo de Compromisso e Contrato de Prestação de Serviços, efetuar o pagamento da matrícula e apresentar documento comprobatório da data de colação de grau (ou convalidação do diploma) no primeiro dia de aula.
        <br />3.2 O supracitado prazo de 90 dias contar-se-á, em dias corridos, a partir da data de colação de grau (ou convalidação do diploma) até a data de quitação do pagamento da matrícula, independente da data de início do curso.
        <br /><strong>4. Da documentação comprobatória:</strong>
        <br />4.1 Para fins de comprovação, serão aceitos somente fotocópias do diploma de graduação emitido por faculdade de Medicina reconhecida pelo MEC (ou documento reconhecido no Brasil para fins de convalidação de diploma estrangeiro) ou declaração de conclusão de curso emitida pela respectiva faculdade de Medicina reconhecida pelo MEC, em papel timbrado.
        <br /><strong>5. Da nulidade do cupom de desconto:</strong>
        <br />5.1 Matriculado que apresentar data de colação de grau (ou convalidação) igual ou superior a 91 (noventa e um) dias da data de quitação do pagamento da matrícula não fará jus ao desconto.
        <br />5.2 Matriculado que apresentar data de colação de grau (ou convalidação) igual ou superior a 91 (noventa e um) dias da data de quitação do pagamento da matrícula e tiver feito o respectivo pagamento utilizando o cupom de desconto #PPP2019 perderá automaticamente todos os benefícios do Programa Primeira Pós 2019, além de ser cobrado pela diferença de valor aplicada na taxa matrícula.
        <br />5.3 Matriculado que porventura apresentar documentação falsa e/ou inidônea, perderá todos os benefícios Programa Primeira Pós 2019, ficará obrigado ao ressarcimento de todos os descontos já obtidos, além de estar sujeito às condenações judiciais cabíveis e demais sanções previstas em lei.
    </div>
</div>
