@model Biblioteca.Entidades.Paginas

<div class="container margin-top-50">
    <div class="row">
        <h1>BLOG</h1>
    </div>
</div>

<div class="container margin-top-50 blog">
    <div class="row">
        <div class="col-md-12 col-xs-12 text-center">
            <img src="~/Images/blog/medicos.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 titulo">
            Como se tornar um médico especialista, conforme regras do Conselho Federal de Medicina (CFM)?
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 data">
            DATA: <span>29 de Maio de 2017</span>
        </div>
        <div class="col-md-6 col-xs-6 autor">
            AUTOR: <span>CENBRAP</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 texto">
            Para se tornar um médico especialista reconhecido pelo CFM o médico deve, ou possuir o respectivo título de especialista, ou o respectivo certificado de conclusão de residência médica, nos termos do art. 4 da Resolução CFM n. 1.634/2002.
            <br /><br />
            Já para se inscrever na prova de título de especialista, o médico deve se inteirar dos requisitos exigidos pela associação/sociedade médica que representa a especialidade a qual se interessa. Cada especialidade tem a sua associação/sociedade representativa, exemplo:<br />
            - Psiquiatria: Associação Brasileira de Psiquiatria (ABP);<br />
            - Endocrinologia e Metabologia: Sociedade Brasileira de Endocrinologia e Metabologia (SBEM);<br />
            - Medicina do Trabalho: Associação Nacional de Medicina do Trabalho (ANAMT);<br />
            - etc.
            <br /><br />
            Importante lembrar que qualquer médico pode exercer a medicina em todas as suas especialidades. Não há necessidade do médico ser especialista para o exercício de qualquer ramo da medicina. Isso é o que nos ensina a Lei Federal n.  3.268/1957, art . 17 e diversos pareceres do próprio CFM.
            <br /><br />
            Resumindo, o exercício de qualquer especialidade é permitido a qualquer médico. No entanto, só deve se anunciar como especialista em determinada área aquele que tiver, ou o título de especialista, ou o certificado de residência médica registrado em seu respectivo CRM.

        </div>
    </div>
</div>