@model Biblioteca.Entidades.Paginas

<div class="container margin-top-50">
    <div class="row">
        @{
            ViewBag.Title = Model.titulo;
        }

        <h1>@Model.titulo</h1>

    </div>
</div>

<div class="container margin-top-50 cnaamb">
    <div class="row">
        Confira abaixo alguns de nossos cursos de educação médica continuada que foram pontuados, de acordo com as regras da CNA (Comissão Nacional de Acreditação) - AMB (Associação Médica Brasileira).
    </div>
    <div class="row">
        <strong>1) Curso: Transtornos Alimentares e Obesidade</strong><br />
        Local: Goiânia/GO<br />
        Número do cadastro CNA-AMB: 24958<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>2) Curso: Legislação do Trabalho aplicada à Medicina do Trabalho</strong><br />
        Local: Brasília/DF<br />
        Número do cadastro CNA-AMB: 24961<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>3) Curso: Perícias Médicas na Justiça do Trabalho</strong><br />
        Local: Uberlândia/MG<br />
        Número do cadastro CNA-AMB: 24962<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>4) Curso: Estudo de Casos Clínicos em Psiquiatria</strong><br />
        Local: Goiânia/GO<br />
        Número do cadastro CNA-AMB: 24959<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>5) Curso: Transtornos Conversivo-Dissociativo e Somatoforme</strong><br />
        Local: Goiânia/GO<br />
        Número do cadastro CNA-AMB: 24960<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>6) Curso: Ergonomia</strong><br />
        Local: Governador Valadares/MG<br />
        Número do cadastro CNA-AMB: 25732<br />
        Pontuação CNA-AMB: 6.0
    </div>
    <div class="row">
        <strong>7) Curso: Introdução à Saúde Ocupacional</strong><br />
        Local: Brasília/DF<br />
        Número do cadastro CNA-AMB: 25733<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>8) Curso: Planejamento e Administração do PCMSO</strong><br />
        Local: Belo Horizonte/MG<br />
        Número do cadastro CNA-AMB: 25729<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>9) Curso: Tópicos Avançados em Insalubridade / Periculosidade</strong><br />
        Local: Uberlândia/MG<br />
        Número do cadastro CNA-AMB: 25731<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>10) Curso: Transtornos Mentais Relacionados ao Trabalho</strong><br />
        Local: Governador Valadares/MG<br />
        Número do cadastro CNA-AMB: 25875<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>11) Curso: Fisiologia do Trabalho</strong><br />
        Local: Belo Horizonte/MG<br />
        Número do cadastro CNA-AMB: 25730<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>12) Curso: Planejamento e Administração do PCMSO</strong><br />
        Local: Goiânia/GO<br />
        Número do cadastro CNA-AMB: 25734<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>13) Curso: Psiquiatria da Infância e Adolescência</strong><br />
        Local: Brasília/DF<br />
        Número do cadastro CNA-AMB: 26392<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>14) Curso: Transtornos Mentais Relacionados ao Trabalho</strong><br />
        Local: Belém/PA<br />
        Número do cadastro CNA-AMB: 26216<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        <strong>15) Curso: Fisiologia do Trabalho</strong><br />
        Local: Uberlândia/MG<br />
        Número do cadastro CNA-AMB: 25876<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>16) Curso: Legislação Aplicada à Medicina do Trabalho</strong><br />
        Local: Belo Horizonte/MG<br />
        Número do cadastro CNA-AMB: 25877<br />
        Pontuação CNA-AMB: 6,0
    </div>
    <div class="row">
        <strong>17) Curso: Estudo de Casos Clínicos em Psiquiatria</strong><br />
        Local: Brasília/DF<br />
        Número do cadastro CNA-AMB: 26393<br />
        Pontuação CNA-AMB: 6,5
    </div>
    <div class="row">
        Obs.: novos cursos podem ser adicionados à essa lista em qualquer tempo.
    </div>
</div>