@model Biblioteca.Entidades.Paginas
@{
    ViewBag.Title = Model.titulo;
}

<div class="container margin-top-50 instituicao">
    <div class="container">
        <div class="row">

            <h1>A Instituição</h1>
            <br>
            <h3 class="text-center"><strong>CENBRAP</strong> - Para médicos que querem ir além</h3>

            <p class="margin-top-50"><strong>2009: NASCE O CENBRAP</strong></p>
            <p>O <strong>CENBRAP</strong> nasceu do sonho de seu Diretor Geral, Prof. Marcos Henrique Mendanha, médico, advogado e professor há mais de 15 anos. Tudo começou em 2009, quando o Prof. Mendanha criou o <strong>CENBRAP</strong> - Centro Brasileiro de Pós-Graduações Ltda. um instituto de educação médica continuada. Em parceria com renomadas instituições de ensino superior, o <strong>CENBRAP</strong> iniciou sua primeira turma de pós-graduação no dia 01/08/2009. De lá pra cá, já foram mais de <strong>70</strong> turmas de pós-graduação abertas em 16 cidades do Brasil.</p>
            <p>Nesses anos de existência, o <strong>CENBRAP</strong> também já promoveu dezenas de <strong>cursos de extensão, workshops, cursos de imersão prática em diversas áreas médicas e preparatórios para provas de título de especialista</strong>, além de <strong>4 congressos nacionais e 2 simpósios regionais.</strong></p>
            <p>Como consequência da busca incessante pela qualidade, vários de nossos módulos das pós-graduações já foram pontuados pela CNA-AMB (Comissão Nacional de Acreditação da Associação Médica Brasileira). Milhares de alunos já foram certificados e centenas foram <strong>aprovados nas provas de título e concursos</strong> de suas respectivas áreas. O melhor: todos eles reconhecem a importância do aprendizado e a excelência do suporte que tiveram em nossos cursos e eventos.</p>
            <p>Em 2016, o <strong>CENBRAP</strong> iniciou o processo credenciamento de sua própria faculdade junto ao MEC (Ministério da Educação). </p>
            <p><strong>2018: O CENBRAP AGORA TAMBÉM É FACULDADE</strong></p>
            <p>Após um longo processo, que incluiu 3 visitas dos avaliadores do MEC nas instalações da Faculdade CENBRAP, em Goiânia/GO, em 2018 obtivemos uma grande conquista: o credenciamento oficial do <strong>CENBRAP</strong> como faculdade, como instituição de ensino superior, por força da <a href="~/Images/Portaria 918.2018.jpg" target="_blank">Portaria MEC/GM n. 918/2018 (publicada no Diário Oficial da União dia 10/09/2018)</a>. Os cursos de pós-graduação com início à partir desta data passam a ser certificados ("chancelados") pelo próprio <strong>CENBRAP</strong>, o que possibilita um atendimento ainda melhor e mais personalizado para todos os nossos alunos.</p>
            <p>Clique na figura abaixo e veja mais sobre o <strong>CENBRAP</strong> dentro do próprio site do <strong>MEC</strong>:</p>
            <p style="text-align:left !important"><a href="http://emec.mec.gov.br/emec/consulta-cadastro/detalhamento/d96957f455f6405d14c6542552b0f6eb/MjE4NzI=" target="_blank"><img src="~/Images/eMEC.png" height="100" /></a></p>
            <p>Enfim, o <strong>CENBRAP</strong> cresceu, amadureceu e agora é também uma faculdade, uma instituição de ensino superior que já chega consolidada, atuando em todas as regiões do país através de cursos presenciais e EAD (online), com o tradicional foco na <strong>educação médica continuada.</strong></p>
            <p>É com a mesma linha de qualidade que os cursos de graduação do <strong>CENBRAP</strong> serão implantados. Já credenciados no MEC para início imediato, os cursos tecnólogos em <strong>Gestão Hospitalar</strong> e <strong>Gestão de Recursos Humanos</strong> estão sendo estratégica e cuidadosamente pensados em todos os seus detalhes. O primeiro vestibular da Faculdade CENBRAP terá seu edital divulgado em 2019.</p>
        </div>

        <div class="row">
            <img src="Images/instituicao.png" class="img-responsive">
        </div>

        <div class="row margin-top-50">
            <p>Temos tradição em <strong>educação médica continuada</strong>. O <strong>CENBRAP</strong> é para médicos que querem ir além! Se a vida e os pacientes nunca param de ensinar, os médicos jamais devem parar de <strong>aprender</strong>. Esse é o sentimento que nos move, que nos instiga. Acreditamos que ninguém sabe tão pouco que não possa ensinar. Acreditamos também que ninguém saiba tanto que ainda não possa aprender. Essa é a troca que propomos: de <strong>conhecimento</strong>, de <strong>boa técnica</strong>, de <strong>sentimento</strong>, de <strong>compaixão</strong>, de <strong>experiências</strong>, enfim, de tudo que faz a medicina ser tão <strong>única e apaixonante</strong>.</p>
        </div>

        <div class="row">

            <h1>Missão</h1>

            <div class="row instituicao-cols">
                <div class="col-md-6 col-xs-12">
                    <p>Oferecer uma educação médica continuada pautada na <strong>excelência</strong> do corpo docente, e na <strong>franqueza</strong> e <strong>transparência</strong> no trato com nossos alunos, professores e fornecedores.</p>
                    <p>Disponibilizar cursos de <strong>alta relevância</strong>, reconhecimento legal, ministrados por <strong>renomados professores</strong> das melhoras universidades brasileiras.</p>
                    <p>Subsidiar nossos alunos com informações <strong>verdadeiras</strong> e fundamentais, desde o momento da publicidade de cada curso, até a certificação final.</p>
                    <p>Atender de forma personalizada e zelar pelo cumprimento integral e ético de todos os pactos assumidos com nossos alunos, professores e fornecedores.</p>
                    <p>Fazer com que cada aula seja uma <strong>rica experiência</strong> e inquestionável fonte de aprendizado.</p>
                </div>
                <div class="col-md-6 col-xs-12"><img src="Images/instituicao-missao.png" class="img-responsive"></div>
            </div>

        </div>
    </div>
</div>

<div class="row IconeCursos">

    <div class="container">

        <h1 class="text-center">Diferenciais</h1>

        <div class="col-md-12 col-xs-12 text-center">

            <div class="flex-columns">
                <div class="col-md-3 col-xs-6 espacamento-superior">
                    <div class="col-md-12 col-xs-12"><img src="Images/foco.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Foco em educação médica</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior">
                    <div class="col-md-12 col-xs-12"><img src="Images/equipe.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Renomada equipe docente</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior">
                    <div class="col-md-12 col-xs-12"><img src="Images/cidades.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Presente em mais de 10 cidades</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior">
                    <div class="col-md-12 col-xs-12"><img src="Images/cursos.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Cursos presenciais e à distância</h3></div>
                </div>

            </div>

        </div>

        <div class="col-md-12 col-xs-12 text-center">
            <div class="flex-columns">
                <div class="col-md-3 col-xs-6 espacamento-superior30">
                    <div class="col-md-12 col-xs-12"><img src="Images/credibilidade.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Alta aprovação em provas e concursos</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior30">
                    <div class="col-md-12 col-xs-12"><img src="Images/legalidade.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Cursos reconhecidos pelo MEC</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior30">
                    <div class="col-md-12 col-xs-12"><img src="Images/plataforma.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Plataforma eletrônica de fácil acesso</h3></div>
                </div>
                <div class="col-md-3 col-xs-6 espacamento-superior30">
                    <div class="col-md-12 col-xs-12"><img src="Images/atendimento.png" height="100" /></div>
                    <div class="col-md-12 col-xs-12 margin-top"><h3>Atendimento personalizado</h3></div>
                </div>

            </div>
        </div>
        <div class="col-md-11 col-xs-11 text-right espacamento-superior30">
            <a href="/Inscreva/" class="btn btn-pos">Quero me matricular</a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>

<div class="container margin-top-50">
    <div class="container">
        <div class="row instituicao">
            <h3><strong>Sejam bem-vindos ao CENBRAP</strong></h3>
            <p>
                Faculdade CENBRAP: credenciada no MEC por força da Portaria MEC/MEC n. 918/2018 (DOU: 10/09/2018)<br />
                Empresa Mantenedora: CENBRAP - Centro Brasileiro de Pós-Graduações Ltda.<br>
                CNPJ: 10.660.800/0001-92<br>
                Inscrição Municipal (Goiânia/GO): 2629879<br>
                Sede Administrativa: Rua T-36 n. 3.182, Ed. Aquarius Center - Sala 1003 - Setor Bueno - Goiânia/GO - CEP 74223-052<br />
                Central de Atendimento: 0300-313-1538 - Seg. a sex. de 8h00 às 18h00 (horário de Brasília) // Whatsapp: (11) 9 4478-6755
            </p>
        </div>
    </div>
</div>
