@model Biblioteca.Entidades.Paginas

<div class="container margin-top-50">
    <div class="row">
        @{
            ViewBag.Title = Model.titulo;
        }

        <h1>@Model.titulo</h1>

    </div>
</div>

<div class="container margin-top-50">
    <div class="row">
        Clique em "download" (abaixo), e confira a legislação em vigor, pertinente aos Cursos de Pós-Graduação no Brasil, de forma simples e comentada.<br />
        - <a href="#">Download   099k7 k 7 ythtyh</a>
    </div>
</div>