@model Biblioteca.Entidades.Paginas

<div class="container margin-top-50">
    <div class="row">
        @{
            ViewBag.Title = Model.titulo;
        }

        <h1>@Model.titulo</h1>

        <div class="container margin-top-50">
            <div class="row PoliticaPrivacidade">

                Nós, CENBRAP – Centro Brasileiro de Pós-Graduações, estamos comprometidos em resguardar sua privacidade. O intuito deste documento é esclarecer quais informações são coletadas dos usuários de nosso site e redes sociais – e respectivos serviços – e de que forma esses dados são utilizados.<br /><br />
                Alertamos que, caso não concorde com o conteúdo desta política, não é necessário preencher nossos formulários.<br /><br />
                <strong>SOBRE A COLETA DE DADOS</strong><br /><br />
                Em nossos sites e redes sociais, as informações são coletadas das seguintes formas:<br /><br />
                - Informações fornecidas por você – Coletamos informações de identificação pessoal – como nome, telefone e e-mail – via preenchimento dos formulários.<br /><br />
                - Informações de navegação no site – Quando você visita nosso site, é inserido um ‘cookie’ no seu navegador por meio do software Google Analytics, para identificar quantas vezes você retorna ao nosso endereço. São coletadas, anonimamente, informações, como endereço IP, localização geográfica, fonte de referência, tipo de navegador, duração da visita e páginas visitadas.<br /><br />
                <strong>SOBRE O USO DE SUAS INFORMAÇÕES PESSOAIS</strong><br /><br />
                O presente termo permite que o CENBRAP use suas informações pessoais para diferentes finalidades, conforme descrito abaixo.<br /><br />
                - O e-mail é utilizado para a operação de envio do material ou informação por você requisitada no preenchimento do formulário. Também pode ser usado para envio de Newsletters, sempre relacionadas aos temas do CENBRAP. Por fim, o e-mail será utilizado ainda para comunicar novos serviços ou produtos do CENBRAP ou parceiros. No entanto, o usuário pode cancelar a assinatura a qualquer momento.<br /><br />
                - Os dados de download poderão ser divulgados como pesquisas e estatísticas, não sendo reveladas abertamente nenhuma informação pessoal, a menos que autorizada explicitamente.<br /><br />
                Funcionários do CENBRAP poderão eventualmente entrar em contato via e-mail ou telefone para fazer pesquisas ou apresentar produtos e serviços.<br /><br />
                <strong>SOBRE O ACESSO ÀS SUAS INFORMAÇÕES PESSOAIS</strong><br /><br />
                Poderão ver suas informações pessoais apenas funcionários do CENBRAP. Nenhuma informação pessoal poderá ser divulgada publicamente, salvo expressa autorização.<br /><br />
                Além disso, embora trabalhemos com boas práticas de proteção e segurança, nenhum serviço web possui 100% de garantia contra invasões e não podemos nos responsabilizar, caso isso ocorra.<br /><br />
                <strong>SOBRE O COMPARTILHAMENTO DE CONTEÚDO NAS REDES SOCIAIS</strong><br /><br />
                Ao clicar nos botões de compartilhamento de conteúdo nas mídias sociais disponíveis em nossas páginas, o usuário estará publicando o conteúdo por meio de seu perfil na rede selecionada. O CENBRAP não tem acesso ao login e senha dos usuários nessas redes, nem publicará conteúdo em nome do usuário sem que ele realize esta ação.<br /><br />
                <strong>MUDANÇAS NA POLÍTICA DE PRIVACIDADE</strong><br /><br />
                Essa Política de Privacidade pode passar por atualizações. Desta forma, recomendamos visitar periodicamente esta página para que você tenha conhecimento sobre as modificações.<br /><br />
                Antes de usar informações para outros fins que não os definidos nesta Política de Privacidade, solicitaremos sua autorização.<br /><br />
                Qualquer dúvida em relação à nossa política de privacidade pode ser esclarecida entrando em contato conosco.<br /><br />
                Envie um e-mail para contato@cenbrap.com.br ou ligue para 0300-313-1538.

            </div>
        </div>
