@model SiteCenbrap.Models.ContratoView
@{
    ViewBag.Title = "Lista de Espera";
}

<div class="container margin-top-50">
    <div class="row">
        <h2>Cadastro na lista de espera efetuado com sucesso!</h2><br />
        <p>
            Olá, é com alegria que confirmamos seu cadastro na lista de espera para o nosso curso @Model.curso.titulo.<br /><br />
            Estamos confirmando a presença dos alunos já matriculados.<br /><br />
            Entraremos em contato caso haja alguma desistência.<br /><br />
            Atenciosamente,<br /><br />
            Coordenação Pedagógica.
        </p>
    </div>
</div>
