@model SiteCenbrap.Models.ContratoView
@{
    ViewBag.Title = "Matriculado";
}

<div class="container margin-top-50">
    <div class="row">
        <h2>Matriculado!</h2><br />
        <p>
        Você já se encontra matriculado no curso @Model.curso.titulo.<br /><br />
        Qualquer dúvida, ligue para nós a qualquer tempo! Teremos imenso prazer em atendê-lo(a).<br /><br />
        Atenciosamente,<br /><br />
        Coordenação Pedagógica.
        </p>
    </div>
</div>
