@model SiteCenbrap.Models.ContratoView
@{
    ViewBag.Title = "PreMatricula";
}

<div class="container margin-top-50">
    <div class="row">
        <h2>Pré-Matricula efetuada com sucesso!</h2><br />
        <p>
            É com alegria que confirmamos sua pré-reserva para o nosso curso @Model.curso.titulo.<br /><br />
            Assim que as matrículas forem oficialmente abertas lhe comunicaremos através do seu e-mail.<br /><br />
            Na mesma oportunidade, lhe daremos ciência do local e da data provável da aula inaugural do nosso curso, assim como outras informações de seu interesse.<br /><br />
            Qualquer dúvida, ligue para nós a qualquer tempo! Teremos imenso prazer em atendê-lo(a).<br /><br />
            Atenciosamente,<br /><br />
            Coordenação Pedagógica.
        </p>
    </div>
</div>
